<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>BoilerPlate</title>
</head>
<body>
    
    <nav>
        {{#if message}}
            <h4>Hello, {{message}}</h4>
        {{else}}
            <h4>BoilerPlate</h4>
        {{/if}}
        <ul>
            <li><a href="/">HOME</a></li>
            {{#if message}}
                <li><a href="/auth/logout">LOGOUT</a></li>
            {{else}}
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/register">REGISTER</a></li>
            {{/if}}
            
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Hello!</h1>
            <p class="lead">This is a simple login and signup page, made using NodeJS and MYSQL.</p>
            <hr class="my-4">
            <p>Registration uses name, contact, email, password. And while login OTP is sent to mobile for verification!</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

</body>
</html>